.modal_background {
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal {
  border-radius: 3px;
  padding: 30px;
  width: 380px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}
.modal_profile {
  border-radius: 3px;
  width: 600px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}
.modal_text {
  margin-top: 20px;
  color: white;
  opacity: 0.5;
  &:hover {
    cursor: pointer;
  }
}
.close {
  margin: 0;
  margin-right: 15px;
  margin-top: 15px;
  color: black;
  text-align: end;
  &:hover {
    cursor: pointer;
  }
}
