@import "./font.scss";
@import "./colors.scss";
@mixin font-medium {
  font-weight: $font-weight-medium;
  font-size: $font-size-medium;
  font-family: $font-family;
}
@mixin font-light {
  font-weight: $font-weight-light;
  margin: 0;
}
@mixin rounded-orange-button {
  color: $white;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  box-shadow: 0 15px 20px 0 $gray-shadow;
  background-image: linear-gradient(
    to left,
    $light-orange-button,
    $darker-orange-button
  );
  border: none;
  @include font-medium;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}
@mixin input-style {
  color: $light-gray;
  font-family: $font-family;
  font-size: $font-input-size;
  font-weight: $font-input-weight;
  @media screen and (max-width: 600px) {
    font-size: $font-input-size-mobile;
  }
}
@mixin placeholder-styles {
  &::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    @include input-style;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    @include input-style;
  }
  &:-ms-input-placeholder {
    /* IE 10+ */
    @include input-style;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    @include input-style;
  }
}
