.button {
  width: 380px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
  background-image: linear-gradient(to left, #ecbcb3, #eaa79e);
  font-size: 14px;
  color: inherit;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
.button_margin {
  margin-bottom: 10px;
  width: 380px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
  background-image: linear-gradient(to left, #ecbcb3, #eaa79e);
  font-size: 14px;
  color: inherit;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
.button_profile {
  margin-top: 71px;
  margin-bottom: 59px;
  margin-left: 114px;
  width: 150px;
  height: 50px;
  border-radius: 3px;
  box-shadow: 0 15px 20px 0 rgba(234, 168, 159, 0.2);
  background-image: linear-gradient(to left, #ecbcb3, #eaa79e);
  font-size: 14px;
  color: inherit;
  border: none;
  @media screen and (max-width: 479px) {
    margin-left: 0;
    align-self: center;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
