.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  background-image: url("../../../assets/images/pl-hero.png");
  background-size: cover;
}
