@import "../../../../../assets/global/styles/variables.scss";
@import "../../../../../assets/global/styles/mixins.scss";
@import "./flowersMixins.scss";
.card {
  @include flex;
  align-items: flex-end;
  width: 280px;
  height: 350px;
  border-radius: 3px;
  @include gradient_black;
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;

  @media screen and (max-width: $mobile-width) {
    width: 184px;
    margin-right: 0;
  }
  @media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
    width: 232px;
    margin-right: 0;
  }
  @media screen and (min-width: $tablet-width) and (max-width: $tablet-bigger-width) {
    width: 232px;
    margin-right: 20px;
  }
  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 350px;
    border-radius: 3px;
    z-index: -10;
    @media screen and (max-width: $mobile-width) {
      width: 184px;
    }
    @media screen and (min-width: $mobile-width) and (max-width: $tablet-bigger-width) {
      width: 232px;
    }
  }
  .content_container {
    @include flex;
    flex-direction: column;
  }
}
.main_text {
  margin: 0;
  margin-bottom: 7px;
  font-size: 20px;
  @media screen and (max-width: $mobile-width) {
    font-size: 16px;
  }
}
.sub_text {
  margin: 0;
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 20px;
  font-style: italic;
  @media screen and (max-width: $mobile-width) {
    font-size: 9.6px;
  }
}
.button_sightings {
  @include sightingsButton;
  background-color: rgba(0, 0, 0, 0.5);
}
.button_sightings_fav {
  @include sightingsButton;
  @include gradient_light_orange;
}
.star_container {
  @include star_background;
  background-color: white;
}
.star_container_fav {
  @include star_background;
  @include gradient_light_orange;
}
.star {
  width: 13px;
  height: 12px;
  object-fit: contain;
  @media screen and (max-width: $mobile-width) {
    width: 11px;
    height: 10px;
  }
}
