.container {
  margin: auto;
  padding-left: 20px;
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 768px) {
    padding: 0 16px;
    justify-content: space-around;
  }
  @media screen and (max-width: 600px) {
    padding: 0 16px;
    justify-content: space-around;
  }
}
